pipeline/Godziny specjalistow do SH.json
{
	"name": "Godziny specjalistow do SH",
	"properties": {
		"activities": [
			{
				"name": "SH_GodzinySpecjaistow",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Pobierz Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "TRUNCATE TABLE ADF.SH_GodzinySpecjalistowSlownik"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Identyfikator",
									"type": "Int32"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Tytuł",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OkresId",
									"type": "Int32"
								},
								"sink": {
									"name": "OkresId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SpecjalistaId",
									"type": "Int32"
								},
								"sink": {
									"name": "SpecjalistaId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "KlienciId",
									"type": "Int32"
								},
								"sink": {
									"name": "KlienciId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Projekt_ehouers",
									"type": "String"
								},
								"sink": {
									"name": "Projekt_ehouers",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Typ_projektu",
									"type": "String"
								},
								"sink": {
									"name": "Typ_projektu",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Klient_ehouers",
									"type": "String"
								},
								"sink": {
									"name": "Klient_ehouers",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OddzialId",
									"type": "Int32"
								},
								"sink": {
									"name": "OddzialId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Waluta",
									"type": "String"
								},
								"sink": {
									"name": "Waluta",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Godziny",
									"type": "String"
								},
								"sink": {
									"name": "Godziny",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "Przychod",
									"type": "String"
								},
								"sink": {
									"name": "Przychod",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 7,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "User_ID",
									"type": "String"
								},
								"sink": {
									"name": "User_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Kartoteka_uslugId",
									"type": "Int32"
								},
								"sink": {
									"name": "Kartoteka_uslugId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ID_erp",
									"type": "String"
								},
								"sink": {
									"name": "ID_ERP",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Suma_netto_pln",
									"type": "Double"
								},
								"sink": {
									"name": "Suma_netto_pln",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 20
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Pozycje_zlecen_fakturowania_slownik",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADF__GodznySpecjalistowSlownik",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Pobierz Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"content-type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=8f530e7c-b811-4d45-a09f-dd3c20139862@b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8&response_type=JSON&client_secret=~dH3_A~F2M4z9X~NpauDuUT-2gr1hsAlHZ&resource=00000003-0000-0ff1-ce00-000000000000/jlabspl.sharepoint.com@b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8"
				}
			},
			{
				"name": "GetGodzinyDoUsuniecia",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SH_GodzinySpecjaistow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  ID, text\nFROM  adf.output_rows WHERE Delta = 'D' AND Kartoteka = 'GODZINY'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Output_rows",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PoPozycjachDoUIsuniecia",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetGodzinyDoUsuniecia",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetGodzinyDoUsuniecia').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web_pozycjaRCP_usun",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@replace(variables('http_rcp_items'), '_XXX_', item().ID)",
									"type": "Expression"
								},
								"method": "DELETE",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ', activity('Pobierz Token').output.access_token)}",
										"type": "Expression"
									},
									"content-type": "application/json",
									"IF-MATCH": "*"
								},
								"body": {
									"value": "@item().text",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "PoPozycjachDoModyfikacji",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetGodzinyDoModyfikacji",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetGodzinyDoModyfikacji').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web_pozycjaRCP_modyfikacja",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@replace(variables('http_rcp_items'), '_XXX_', item().ID)",
									"type": "Expression"
								},
								"method": "PATCH",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ', activity('Pobierz Token').output.access_token)}",
										"type": "Expression"
									},
									"content-type": "application/json",
									"IF-MATCH": "*"
								},
								"body": {
									"value": "@item().text",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetGodzinyDoModyfikacji",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SH_GodzinySpecjaistow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  ID, text\nFROM  adf.output_rows WHERE Delta = 'M' AND Kartoteka = 'GODZINY'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Output_rows",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"http_godzin": {
				"type": "String",
				"defaultValue": "https://jlabspl.sharepoint.com/sites/PowerBI/Tst_TimeCard_Invoice/_api/web/lists/getbytitle('Pozycje_zlecenia slownik')/items"
			},
			"http_rcp_items": {
				"type": "String",
				"defaultValue": "https://jlabspl.sharepoint.com/sites/PowerBI/Tst_TimeCard_Invoice/_api/web/lists/getbytitle('Pozycje_zlecenia slownik')/items(_XXX_)"
			}
		},
		"annotations": []
	}
}