pipeline/pipeline1_WT.json
{
	"name": "pipeline1_WT",
	"properties": {
		"activities": [
			{
				"name": "Pobierz Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"content-type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=8f530e7c-b811-4d45-a09f-dd3c20139862@b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8&response_type=JSON&client_secret=~dH3_A~F2M4z9X~NpauDuUT-2gr1hsAlHZ&resource=00000003-0000-0ff1-ce00-000000000000/jlabspl.sharepoint.com@b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('http_run')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ', activity('Pobierz Token').output.access_token)}",
							"type": "Expression"
						},
						"content-type": "application/json",
						"IF-MATCH": "*"
					},
					"body": {
						"value": "{\n\"Title\":\"Nowy kolejny wiersz - 9 id?\", \"ID\":\"9\"\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pobierz Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "http_run",
					"value": {
						"value": "@replace(variables('http_klienci_modyf'), '_XXX_', '118')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"zm_str": {
				"type": "String",
				"defaultValue": "123"
			},
			"z_uri": {
				"type": "String",
				"defaultValue": "Https://jsj.items(_XXX_)"
			},
			"id": {
				"type": "String",
				"defaultValue": "118"
			},
			"http_klienci": {
				"type": "String",
				"defaultValue": "https://jlabspl.sharepoint.com/sites/PowerBI/_api/web/lists/getbytitle('Klienci')/items"
			},
			"http_klienci_modyf": {
				"type": "String",
				"defaultValue": "https://jlabspl.sharepoint.com/sites/PowerBI/_api/web/lists/getbytitle('Klienci')/items(_XXX_)"
			},
			"http_run": {
				"type": "String",
				"defaultValue": "https://jlabspl.sharepoint.com/sites/PowerBI/_api/web/lists/getbytitle('Klienci')/items(118)"
			}
		},
		"annotations": []
	}
}