pipeline/Pobieranie danych eHour.json
{
	"name": "Pobieranie danych eHour",
	"properties": {
		"activities": [
			{
				"name": "Get pierwszy_dzien_cyklu",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "BI_HOURS_Time_Strat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TOP 1 [ID]\n      ,[eHouer]\n      ,[CRM]\n      ,[ERP_Optima]\n      ,[Data_ladowania]\n      ,[eHouer_mc]\n      ,[CRM_mc]\n      ,[ERP_Optima_mc]\n  FROM [dbo].[Config_IncrementDate]\n  where ID = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Config_IncrementDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set pierwszy_dzien_cyklu",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get pierwszy_dzien_cyklu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pierwszy_dzien_cyklu",
					"value": {
						"value": "@substring(activity('Get pierwszy_dzien_cyklu').output.firstRow.eHouer,0,10)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set ostatni_dzien_cyklu",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get pierwszy_dzien_cyklu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ostatni_dzien_cyklu",
					"value": {
						"value": "@addDays(startOfMonth(getFutureTime(1,'Month','yyyy-MM-dd')),-1,'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy eHour to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set pierwszy_dzien_cyklu",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set ostatni_dzien_cyklu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"X-API-Key": "MjJkOWNhOWMtODkwYS00ZTJlLTgyYTYtYmY3NWViMDA4MjJi"
						}
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['hours-hours']"
								},
								"sink": {
									"name": "hours_hours",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['project-billable']"
								},
								"sink": {
									"name": "project_billable",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['project-name']"
								},
								"sink": {
									"name": "project_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['user-id']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['hours-approved']"
								},
								"sink": {
									"name": "hours_approved",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['client-name']"
								},
								"sink": {
									"name": "client_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['hours-entry-time']"
								},
								"sink": {
									"name": "hours_entry_time",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['user-user']"
								},
								"sink": {
									"name": "user_user",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['client-code']"
								},
								"sink": {
									"name": "client_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['daily']"
								},
								"sink": {
									"name": "daily",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['project-code']"
								},
								"sink": {
									"name": "project_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['project-manager']"
								},
								"sink": {
									"name": "projest_manager",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['client-id']"
								},
								"sink": {
									"name": "client_id",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['data']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "eHour",
						"type": "DatasetReference",
						"parameters": {
							"pierwszy_dzien_cyklu": {
								"value": "@variables('pierwszy_dzien_cyklu')",
								"type": "Expression"
							},
							"ostatni_dzien_cyklu": {
								"value": "@variables('ostatni_dzien_cyklu')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "HOURS_Time",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Kopiowanie_godzin",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BI_HOURS_Time_Strat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "TRUNCATE TABLE ADF.SH_EwidencjaGodzinSpecjalistow"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SpecjalistaId",
									"type": "Int32"
								},
								"sink": {
									"name": "SpecjalistaId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "KlientId",
									"type": "Int32"
								},
								"sink": {
									"name": "KlientId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OkresId",
									"type": "Int32"
								},
								"sink": {
									"name": "OkresId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RodzajHValue",
									"type": "String"
								},
								"sink": {
									"name": "Rodzaj h",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "Godziny",
									"type": "Double"
								},
								"sink": {
									"name": "Godziny",
									"type": "String",
									"physicalType": "nchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "GodzintRcpSpecjalistow",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SH_EwidencjaGodzin",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Kopiowanie_godzin",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[SH_Ewidencja_godzin_STOP]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "BI_HOURS_Time_Strat",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_HOURS_Time_Strat]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SYS_BI_logowanie_v1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy eHour to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SYS_BI_logowanie_v1]",
					"storedProcedureParameters": {
						"Param": {
							"value": "1",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"pierwszy_dzien_cyklu": {
				"type": "String"
			},
			"ostatni_dzien_cyklu": {
				"type": "String"
			}
		},
		"annotations": []
	}
}