pipeline/Pobieranie danych CRM.json
{
	"name": "Pobieranie danych CRM",
	"properties": {
		"activities": [
			{
				"name": "Login",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "method=login&input_type=JSON&response_type=JSON&rest_data={\n\t\"user_auth\": {\n\t\t\"user_name\": \"e-bi@j-labs.pl\",\n\t\t\"password\": \"ad4aaf1201de75ddd408eeb16dfe7cbe\"\n\t},\n\t\"application_name\": \"MS Flow\",\n\t\"name_value_list\": []\n}"
				}
			},
			{
				"name": "Set ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Login",
					"value": {
						"value": "@activity('Login').output.id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Specjalisci",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"ev_Specialists\",\n\"query\": \"ev_specialists.date_modified>'@{getPastTime(int(variables('dniDoTylu')), 'Day', 'yyyy-MM-ddTHH:mm:ss')}' and ev_specialists.specialist_status<>'candidate' and ev_specialists.specialist_status<>'candidate_in_process'\",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\",\"first_name\",\"last_name\",\"approximate_address_city\",\"approximate_address_state\",\"position,candidate_experience\",\"specialist_status\",\"recruitment_status\",\"reference_rate,name\",\"erp_id\"],\n\t\"link_name_to_fields_array\": [],\n\t\"max_results\": \"600\",\n\t\"deleted\": 0\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Specjalisci",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Specjalisci",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Specjalisci",
					"value": {
						"value": "@activity('Specjalisci').output.entry_list",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Specjalisci to SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Specjalisci",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[CRM_Dim_Pracownicy_Refresh]",
					"storedProcedureParameters": {
						"specjalisci": {
							"value": {
								"value": "@string(variables('Specjalisci'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stawki specjalistow",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"ev_ContractsOfEmployment\",\n\"query\": \"ev_contractsofemployment.date_modified>'@{getPastTime(int(variables('dniDoTylu')), 'Day', 'yyyy-MM-ddTHH:mm:ss')}' \",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\",\"specialist_id\",\"rate\",\"date_contract_start\",\"date_contract_end\",\"kind_of_contract\",\"specialist_status\", \"reference_rate\", \"deleted\",\"account_id\"],\n\t\"link_name_to_fields_array\": [],\n\t\"max_results\": \"2000\",\n\t\"deleted\": 1\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set stawkiSpecjalistow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stawki specjalistow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "stawkiSpecjalistow",
					"value": {
						"value": "@activity('Stawki specjalistow').output.entry_list",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stawki specjalistow to SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set stawkiSpecjalistow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[CRM_Stawki_Specjalistow_Refresh]",
					"storedProcedureParameters": {
						"stawki": {
							"value": {
								"value": "@string(variables('stawkiSpecjalistow'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stawki klientow",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"ev_CustomerOrderItems\",\n\"query\": \"ev_customerorderitems.date_modified>'@{getPastTime(int(variables('dniDoTylu')), 'Day', 'yyyy-MM-ddTHH:mm:ss')}'\",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\",\"specialist_id\",\"account_id\",\"hourly_rate\",\"start_date\",\"finish_date\",\"customerorder_id\",\"deleted\"],\n\t\"link_name_to_fields_array\": [],\n\t\"max_results\": \"2000\",\n\t\"deleted\": 1\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BI_Stawki_spec_Stop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "BI_Pozycje_Zam_Stop",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "BI_zamowienia_stop",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "BI_Klienci_Stop",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Stawki specjalistow to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "BI_Specjalisci_stop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_Stawki_spec_Stop]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set stawkiKlientow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stawki klientow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "stawkiKlientow",
					"value": {
						"value": "@activity('Stawki klientow').output.entry_list",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stawki klientow to SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set stawkiKlientow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[CRM_Stawki_Klientow_Refresh]",
					"storedProcedureParameters": {
						"stawki": {
							"value": {
								"value": "@string(variables('stawkiKlientow'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "BI_Specjalisci_stop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Specjalisci to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_Specjalisci_stop]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "BI_Pozycje_Zam_Stop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stawki klientow to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_Pozycje_Zam_Stop]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Zamowienia",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"ev_CustomerOrders\",\n\"query\": \"ev_customerorders.date_modified>'@{getPastTime(int(variables('dniDoTylu')), 'Day', 'yyyy-MM-ddTHH:mm:ss')}' \",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\",\"account_id\",\"deleted\"],\n\t\"link_name_to_fields_array\": [],\n\t\"max_results\": \"1000\",\n\t\"deleted\": 1\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Zamowienia to SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set zamowienia",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[CRM_Zamowienia_Refresh]",
					"storedProcedureParameters": {
						"zamowienia": {
							"value": {
								"value": "@string(variables('zamowienia'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set zamowienia",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Zamowienia",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "zamowienia",
					"value": {
						"value": "@activity('Zamowienia').output.entry_list",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BI_zamowienia_stop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Zamowienia to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_Zamowienia_Stop]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Klienci",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"Accounts\",\n\"query\": \"accounts.date_modified>'@{getPastTime(int(variables('dniDoTylu')), 'Day', 'yyyy-MM-ddTHH:mm:ss')}' \",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\", \"name\",\"assigned_user_name\",\"sales_stage\",\"erp_id\"],\n\t\"link_name_to_fields_array\": [\"ev_customerorders_accounts\"],\n\t\"max_results\": \"500\",\n\t\"deleted\": 0\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Klienci to SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set klienci",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[CRM_Klienci_Refresh]",
					"storedProcedureParameters": {
						"klienci": {
							"value": {
								"value": "@string(variables('klienci'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set klienci",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Klienci",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "klienci",
					"value": {
						"value": "@activity('Klienci').output.entry_list",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BI_Klienci_Stop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Klienci to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_Klienci_Stop]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Login": {
				"type": "String"
			},
			"URL_CRM": {
				"type": "String",
				"defaultValue": "https://jlabs.evolpe.it/service/v4_1/rest.php"
			},
			"Specjalisci": {
				"type": "Array"
			},
			"Specjalista": {
				"type": "Array"
			},
			"dniDoTylu": {
				"type": "String",
				"defaultValue": "60"
			},
			"stawkiSpecjalistow": {
				"type": "Array"
			},
			"stawkiKlientow": {
				"type": "Array"
			},
			"zamowienia": {
				"type": "Array"
			},
			"klienci": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}