pipeline/Pobieranie danych eHour.json
{
	"name": "Pobieranie danych eHour",
	"properties": {
		"activities": [
			{
				"name": "Get pierwszy_dzien_cyklu",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TOP 1 [ID]\n      ,[eHouer]\n      ,[CRM]\n      ,[ERP_Optima]\n      ,[Data_ladowania]\n      ,[eHouer_mc]\n      ,[CRM_mc]\n      ,[ERP_Optima_mc]\n  FROM [dbo].[Config_IncrementDate]\n  where ID = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Config_IncrementDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set pierwszy_dzien_cyklu",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get pierwszy_dzien_cyklu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pierwszy_dzien_cyklu",
					"value": {
						"value": "@substring(activity('Get pierwszy_dzien_cyklu').output.firstRow.eHouer,0,10)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BI_HOURS_Time_Strat",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set pierwszy_dzien_cyklu",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_HOURS_Time_Strat]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set liczony_dzien",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get pierwszy_dzien_cyklu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "liczony_dzien",
					"value": {
						"value": "@addDays(startOfMonth(getFutureTime(1,'Month','yyyy-MM-dd')),-1,'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get data eHour",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set liczony_dzien",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set pierwszy_dzien_cyklu",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://ehourapp.com/api/v1/report?start=@{variables('pierwszy_dzien_cyklu')}&end=@{variables('liczony_dzien')}&page=1&columns=CLIENT_ID%2CCLIENT_CODE%2CCLIENT_NAME%2CPROJECT_NAME%2CPROJECT_CODE%2CPROJECT_BILLABLE%2CPROJECT_MANAGER%2CUSER_ID%2CUSER_USER%2CHOURS_HOURS%2CHOURS_APPROVED%2CASSIGNMENT_START%2CASSIGNMENT_END%2CHOURS_ENTRY_TIME",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"X-API-Key": "MjJkOWNhOWMtODkwYS00ZTJlLTgyYTYtYmY3NWViMDA4MjJi"
					}
				}
			},
			{
				"name": "Set godziny",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get data eHour",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "godziny",
					"value": {
						"value": "@activity('Get data eHour').output.data",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Hours_Time_Refresh",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set godziny",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[Hours_Time_Refresh]",
					"storedProcedureParameters": {
						"godziny": {
							"value": {
								"value": "@string(variables('godziny'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"pierwszy_dzien_cyklu": {
				"type": "String"
			},
			"liczony_dzien": {
				"type": "String"
			},
			"godziny": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}