pipeline/Pobieranie danych NBP.json
{
	"name": "Pobieranie danych NBP",
	"properties": {
		"activities": [
			{
				"name": "Get Kursy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "BI_Kursy_Walut_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('url')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Accept": "application/json"
					}
				}
			},
			{
				"name": "BI_Kursy_Walut_Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_Kursy_Walut_Start]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set kursy",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Kursy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "kursy",
					"value": {
						"value": "@activity('Get Kursy').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"url": {
				"type": "String",
				"defaultValue": "http://api.nbp.pl/api/exchangerates/tables/A"
			},
			"kursy": {
				"type": "String"
			}
		},
		"annotations": []
	}
}