pipeline/SH_SYNCHRONIZACJA_KARTOTEK.json
{
	"name": "SH_SYNCHRONIZACJA_KARTOTEK",
	"properties": {
		"description": "Zrzuca dane z SH Klientów do bufora SQL adf.SH_Klienci",
		"activities": [
			{
				"name": "SH_KLIENCI_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "TRUNCATE TABLE ADF.SH_Klienci"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Int32"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IDERP",
									"type": "String"
								},
								"sink": {
									"name": "IDERP",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Waluta",
									"type": "String"
								},
								"sink": {
									"name": "Waluta",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "Sposob_generowania_zleceniaValue",
									"type": "String"
								},
								"sink": {
									"name": "Sposob_generowania_zleceniaValue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Jm",
									"type": "String"
								},
								"sink": {
									"name": "Jm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Szablon_seria",
									"type": "String"
								},
								"sink": {
									"name": "Szablon_seria",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OpiekunId",
									"type": "Int32"
								},
								"sink": {
									"name": "OpiekunId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Forma_platnosci",
									"type": "String"
								},
								"sink": {
									"name": "Forma_platnosci",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Termin_platnosci",
									"type": "String"
								},
								"sink": {
									"name": "Termin_platnosci",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NrSeriiValue",
									"type": "String"
								},
								"sink": {
									"name": "NrSeriiValue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Klienci_SH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADF_KLIENCI",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SYNCHRONIZACJA_KARTOTEK",
				"description": "Wyznaczanie przyrostów do aktualizacji inkrementalnej",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SH_KLIENCI_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[SYNCHRONIZACJA_SH_KARTOTEKI]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetKlienciDoModyfikacji",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SYNCHRONIZACJA_KARTOTEK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  ID, text\nFROM    adf.output_rows WHERE Delta = 'M'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Output_rows",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Po klientach do modyfikacji",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetKlienciDoModyfikacji",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetKlienciDoModyfikacji').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SET ID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ID",
								"value": {
									"value": "@item().ID",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SET URI",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SET ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "URI_KLIENT MOD",
								"value": {
									"value": "replace(@variables('URI_KLIENT MOD'), '_XXX_', '125')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SH_USLUGI_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Title",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Kod_towaru",
									"type": "String"
								},
								"sink": {
									"name": "Kod_towaru",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ID_uslugi",
									"type": "String"
								},
								"sink": {
									"name": "ID_uslugi",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Opis",
									"type": "String"
								},
								"sink": {
									"name": "Opis",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Jm",
									"type": "String"
								},
								"sink": {
									"name": "Jm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Waluta",
									"type": "String"
								},
								"sink": {
									"name": "Waluta",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Vat",
									"type": "String"
								},
								"sink": {
									"name": "Vat",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Id",
									"type": "Int32"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Aktywny",
									"type": "Boolean"
								},
								"sink": {
									"name": "Aktywny",
									"type": "Boolean",
									"physicalType": "bit"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Uslugi_SH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adf_uslugi",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Delta": {
				"type": "String"
			},
			"ID": {
				"type": "String"
			},
			"URI_KLIENT MOD": {
				"type": "String",
				"defaultValue": "https://j-labs.items(_XXX_)"
			},
			"URI_KLIENT_INS": {
				"type": "String",
				"defaultValue": "https://"
			}
		},
		"annotations": []
	}
}