pipeline/SH_SYNCHRONIZACJA_KARTOTEK.json
{
	"name": "SH_SYNCHRONIZACJA_KARTOTEK",
	"properties": {
		"description": "Zrzuca dane z SH Klientów do bufora SQL adf.SH_Klienci",
		"activities": [
			{
				"name": "SH_KLIENCI_SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CzyszcenieBuforow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Int32"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IDERP",
									"type": "String"
								},
								"sink": {
									"name": "IDERP",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Waluta",
									"type": "String"
								},
								"sink": {
									"name": "Waluta",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "Sposob_generowania_zleceniaValue",
									"type": "String"
								},
								"sink": {
									"name": "Sposob_generowania_zleceniaValue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Jm",
									"type": "String"
								},
								"sink": {
									"name": "Jm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Szablon_seria",
									"type": "String"
								},
								"sink": {
									"name": "Szablon_seria",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OpiekunId",
									"type": "Int32"
								},
								"sink": {
									"name": "OpiekunId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Forma_platnosci",
									"type": "String"
								},
								"sink": {
									"name": "Forma_platnosci",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Termin_platnosci",
									"type": "String"
								},
								"sink": {
									"name": "Termin_platnosci",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NrSeriiValue",
									"type": "String"
								},
								"sink": {
									"name": "NrSeriiValue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Klienci_SH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADF_KLIENCI",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SYNCHRONIZACJA_KARTOTEK",
				"description": "Wyznaczanie przyrostów do aktualizacji inkrementalnej",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SH_KLIENCI_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SH_USLUGI_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SH_SPECJALISCI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[SYNCHRONIZACJA_SH_KARTOTEKI]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetKlienciDoModyfikacji",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SYNCHRONIZACJA_KARTOTEK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  ID, text\nFROM  adf.output_rows WHERE Delta = 'M' AND Kartoteka = 'KLIENT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Output_rows",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Po klientach do modyfikacji",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetKlienciDoModyfikacji",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetKlienciDoModyfikacji').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web_klient_modify",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@replace(variables('http_klienci_modyf'), '_XXX_', item().ID)",
									"type": "Expression"
								},
								"method": "PATCH",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ', activity('Pobierz Token').output.access_token)}",
										"type": "Expression"
									},
									"content-type": "application/json",
									"IF-MATCH": "*"
								},
								"body": {
									"value": "@item().text",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SH_USLUGI_SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CzyszcenieBuforow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Title",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Kod_towaru",
									"type": "String"
								},
								"sink": {
									"name": "Kod_towaru",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ID_uslugi",
									"type": "String"
								},
								"sink": {
									"name": "ID_uslugi",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Opis",
									"type": "String"
								},
								"sink": {
									"name": "Opis",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Jm",
									"type": "String"
								},
								"sink": {
									"name": "Jm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Waluta",
									"type": "String"
								},
								"sink": {
									"name": "Waluta",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Vat",
									"type": "String"
								},
								"sink": {
									"name": "Vat",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Id",
									"type": "Int32"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Aktywny",
									"type": "Boolean"
								},
								"sink": {
									"name": "Aktywny",
									"type": "Boolean",
									"physicalType": "bit"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Uslugi_SH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADF_USLUGI",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SH_SPECJALISCI",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CzyszcenieBuforow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Int32"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IDCRM",
									"type": "String"
								},
								"sink": {
									"name": "IDCRM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TypUmowy",
									"type": "String"
								},
								"sink": {
									"name": "TypUmowy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UslugaId",
									"type": "Int32"
								},
								"sink": {
									"name": "UslugaId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ID_ehour",
									"type": "String"
								},
								"sink": {
									"name": "ID_ehour",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SH_SPECJALISCI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADF_SPAECJALISCI",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Pobierz Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"content-type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=8f530e7c-b811-4d45-a09f-dd3c20139862@b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8&response_type=JSON&client_secret=~dH3_A~F2M4z9X~NpauDuUT-2gr1hsAlHZ&resource=00000003-0000-0ff1-ce00-000000000000/jlabspl.sharepoint.com@b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8"
				}
			},
			{
				"name": "GetKlienciNowi",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SYNCHRONIZACJA_KARTOTEK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  ID, text\nFROM  adf.output_rows WHERE Delta = 'I' AND Kartoteka = 'KLIENT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Output_rows",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Po klientach nowych",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetKlienciNowi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetKlienciNowi').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web_klient_nowy",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@variables('http_klienci')",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@{concat('Bearer ', activity('Pobierz Token').output.access_token)}",
										"type": "Expression"
									},
									"content-type": "application/json",
									"IF-MATCH": "*"
								},
								"body": {
									"value": "@item().text",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Koniec synchronizacji",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Po klientach do modyfikacji",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Po klientach nowych",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[SYNCHRONIZACJA_SH_KONIEC]",
					"storedProcedureParameters": {
						"Kartoteka": {
							"value": {
								"value": "'KLIENT'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CzyszcenieBuforow",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pobierz Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[SYNCHRONIZACJA_SH_CLEAR]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"http_klienci_modyf": {
				"type": "String",
				"defaultValue": "https://jlabspl.sharepoint.com/sites/PowerBI/_api/web/lists/getbytitle('Klienci')/items(_XXX_)"
			},
			"http_klienci": {
				"type": "String",
				"defaultValue": "https://jlabspl.sharepoint.com/sites/PowerBI/_api/web/lists/getbytitle('Klienci')/items"
			}
		},
		"annotations": []
	}
}