pipeline/testrtwrtes.json
{
	"name": "testrtwrtes",
	"properties": {
		"activities": [
			{
				"name": "Get AAD Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/','b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8','/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=e23b40fb-5c5a-483b-af6c-48cbdb987ee4&client_secret=0CY-ej-qO28eEz5at6-f.l_dAT_MEQou98')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call dataset refresh",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get AAD Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/fcc8bff5-39d4-46d5-b239-0083d93c81f9/datasets/87bb298a-9b99-4ac6-bb46-d493e7fa24f9/refreshes')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
							"type": "Expression"
						}
					},
					"body": {
						"notifyOption": "NoNotification"
					}
				}
			}
		],
		"annotations": []
	}
}