pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "Login",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "method=login&input_type=JSON&response_type=JSON&rest_data={\n\t\"user_auth\": {\n\t\t\"user_name\": \"e-bi@j-labs.pl\",\n\t\t\"password\": \"ad4aaf1201de75ddd408eeb16dfe7cbe\"\n\t},\n\t\"application_name\": \"MS Flow\",\n\t\"name_value_list\": []\n}"
				}
			},
			{
				"name": "Set ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Login",
					"value": {
						"value": "@activity('Login').output.id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Klienci",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL_CRM')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"Accounts\",\n\"query\": \"accounts.date_modified>'@{getPastTime(int(variables('dniDoTylu')), 'Day', 'yyyy-MM-ddTHH:mm:ss')}' \",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\", \"name\",\"assigned_user_name\",\"sales_stage\",\"erp_id\"],\n\t\"link_name_to_fields_array\": [\"ev_customerorders_accounts\"],\n\t\"max_results\": \"500\",\n\t\"deleted\": 0\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Klienci to SQL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set klienci",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[CRM_Klienci_Refresh]",
					"storedProcedureParameters": {
						"klienci": {
							"value": {
								"value": "@string(variables('klienci'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set klienci",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Klienci",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "klienci",
					"value": {
						"value": "@activity('Klienci').output.entry_list",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BI_Klienci_Stop",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Klienci to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[BI_Klienci_Stop]"
				},
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"czyListaPusta": {
				"type": "String"
			},
			"Login": {
				"type": "String"
			},
			"URL_CRM": {
				"type": "String",
				"defaultValue": "https://jlabs.evolpe.it/service/v4_1/rest.php"
			},
			"dniDoTylu": {
				"type": "String",
				"defaultValue": "60"
			},
			"zamowienia": {
				"type": "Array"
			},
			"klienci": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}