pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"query": "$top=10&$select=Waluta",
						"httpRequestTimeout": "00:05:00"
					},
					"dataset": {
						"referenceName": "Pozycje_zlecen_fakturowania_slownik",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "czyListaPusta",
					"value": {
						"value": "@activity('Lookup1').output.firstRow",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('czyListaPusta'),'null')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "nie ma nulla",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "czyListaPusta",
								"value": {
									"value": "nie ma",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Jest null",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "czyListaPusta",
								"value": {
									"value": "jest null",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"czyListaPusta": {
				"type": "String"
			}
		},
		"annotations": []
	}
}