TEST-JL1-DATA-FACTORY/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nazwa fabryki danych",
			"defaultValue": "TEST-JL1-DATA-FACTORY"
		},
		"J_LABS_BI_connectionString": {
			"type": "secureString",
			"metadata": "Bezpieczny ciąg dla elementu „connectionString” — „J_LABS_BI”"
		},
		"J_LABS_BI_password": {
			"type": "secureString",
			"metadata": "Bezpieczny ciąg dla elementu „password” — „J_LABS_BI”"
		},
		"SharePoint_JLabs_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Bezpieczny ciąg dla elementu „servicePrincipalKey” — „SharePoint_JLabs”"
		},
		"J_LABS_BI_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "J-LABS\\witold.toczek.ext"
		},
		"SharePoint_JLabs_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "8f530e7c-b811-4d45-a09f-dd3c20139862"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MAIN-ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DaneRCPOd",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataRCPOd",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Dane finansowe ERP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DaneRCPOd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Okresy obrachunkowe oraz Finanse ERP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"variables": {
					"dzienTygodnia": {
						"type": "Boolean",
						"defaultValue": true
					},
					"currentDay": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataRCPOd')]",
				"[concat(variables('factoryId'), '/pipelines/Okresy obrachunkowe oraz Finanse ERP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Obliczanie_rentownosci')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Wywołanie procedury wyliczającej rentowność specjalistów",
				"activities": [
					{
						"name": "Rentownosc_specjalistow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[BI_RentownoscSpecjalistow_TEST]"
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/J_LABS_BI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Okresy obrachunkowe oraz Finanse ERP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Wywołanie procedury przenoszącej dane z ERP/Optima i wypełniającej tabele faktur.",
				"activities": [
					{
						"name": "Ekstrakcja danych z ERP-Optima",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "OkresyObrachunkowe_copy",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "mapowenie klientow",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Faktury spprzedazy SH - Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[Load_OPTIMA_ERP]"
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "OkresyObrachunkowe_copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Miesiac",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "StatusOtwartyZamknięty",
											"type": "Boolean"
										},
										"sink": {
											"name": "Otwarte?",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "GodzinyNormatywne",
											"type": "String"
										},
										"sink": {
											"name": "Godziny_normatywne",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Korekta_stawki_APO",
											"type": "Double"
										},
										"sink": {
											"name": "Korekta_stawki_APO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Okresy_obrachunkowe",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SH_OkresyObrachunkowe",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "mapowenie klientow",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IDERP",
											"type": "String"
										},
										"sink": {
											"name": "ERP_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Klienci_SH",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "temp_map_klienci",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Faktury spprzedazy SH - Copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Nr_FV",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Ilość",
											"type": "Double"
										},
										"sink": {
											"name": "Ilosc",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "JMValue",
											"type": "String"
										},
										"sink": {
											"name": "JM",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "CenaJednostkowa",
											"type": "Double"
										},
										"sink": {
											"name": "Cena",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "WartośćFvNetto",
											"type": "Double"
										},
										"sink": {
											"name": "Wartosc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "KlientId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Klient_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OkresId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Okres_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NazwaUsługiId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Usluga_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FakturySprzedazy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SH_Faktury_Klientow",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/J_LABS_BI')]",
				"[concat(variables('factoryId'), '/datasets/Okresy_obrachunkowe')]",
				"[concat(variables('factoryId'), '/datasets/SH_OkresyObrachunkowe')]",
				"[concat(variables('factoryId'), '/datasets/Klienci_SH')]",
				"[concat(variables('factoryId'), '/datasets/temp_map_klienci')]",
				"[concat(variables('factoryId'), '/datasets/FakturySprzedazy')]",
				"[concat(variables('factoryId'), '/datasets/SH_Faktury_Klientow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pobieranie danych CRM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Login",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@variables('URL_CRM')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "method=login&input_type=JSON&response_type=JSON&rest_data={\n\t\"user_auth\": {\n\t\t\"user_name\": \"e-bi@j-labs.pl\",\n\t\t\"password\": \"ad4aaf1201de75ddd408eeb16dfe7cbe\"\n\t},\n\t\"application_name\": \"MS Flow\",\n\t\"name_value_list\": []\n}"
						}
					},
					{
						"name": "Set ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Login",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Login",
							"value": {
								"value": "@activity('Login').output.id",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Specjalisci",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@variables('URL_CRM')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"ev_Specialists\",\n\"query\": \"ev_specialists.date_modified>'@{getPastTime(30, 'Day', 'yyyy-MM-ddTHH:mm:ss')}' and ev_specialists.specialist_status<>'candidate' and ev_specialists.specialist_status<>'candidate_in_process'\",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\",\"first_name\",\"last_name\",\"approximate_address_city\",\"approximate_address_state\",\"position,candidate_experience\",\"specialist_status\",\"recruitment_status\",\"reference_rate,name\",\"erp_id\"],\n\t\"link_name_to_fields_array\": [],\n\t\"max_results\": \"600\",\n\t\"deleted\": 0\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Specjalisci",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Specjalisci",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Specjalisci",
							"value": {
								"value": "@activity('Specjalisci').output.entry_list",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Specjalisci to SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set Specjalisci",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[CRM_Dim_Pracownicy_Refresh]",
							"storedProcedureParameters": {
								"specjalisci": {
									"value": {
										"value": "@string(variables('Specjalisci'))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Specjalisci",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Specjalisci')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Specjalisci to SQL_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[adf].[CRM_Dim_Pracownicy_Refresh]",
										"storedProcedureParameters": {
											"specjalisci": {
												"value": {
													"value": "@string(array(item()))",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "J_LABS_BI",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"variables": {
					"Login": {
						"type": "String"
					},
					"URL_CRM": {
						"type": "String",
						"defaultValue": "https://jlabs.evolpe.it/service/v4_1/rest.php"
					},
					"Specjalisci": {
						"type": "Array"
					},
					"Specjalista": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/J_LABS_BI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataRCPOd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane pomocnicze"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "eHouer",
						"type": "date"
					},
					{
						"name": "CRM",
						"type": "date"
					},
					{
						"name": "ERP_Optima",
						"type": "date"
					},
					{
						"name": "Data_ladowania",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "eHouer_mc",
						"type": "nchar"
					},
					{
						"name": "CRM_mc",
						"type": "nchar"
					},
					{
						"name": "ERP_Optima_mc",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Config_IncrementDate"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/J_LABS_BI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FakturySprzedazy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePoint_JLabs",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane z list Share Point"
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": "Faktury_sprzedazy"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SharePoint_JLabs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Klienci_SH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePoint_JLabs",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane z list Share Point"
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": "Klienci"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SharePoint_JLabs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Okresy_obrachunkowe')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePoint_JLabs",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane z list Share Point"
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": "OkresyObrachunkowe"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SharePoint_JLabs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SH_Faktury_Klientow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane w bazie BI SQL"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Okres",
						"type": "nchar"
					},
					{
						"name": "Nr_FV",
						"type": "nchar"
					},
					{
						"name": "ID_uslugi",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ID_ERP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Ilosc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "JM",
						"type": "nchar"
					},
					{
						"name": "Cena",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "Wartosc",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "DataDokumentu",
						"type": "date"
					},
					{
						"name": "Data_ladowania",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SH_FakturySprzedazy"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/J_LABS_BI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SH_OkresyObrachunkowe')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane w bazie BI SQL"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "nchar"
					},
					{
						"name": "Miesiac",
						"type": "nchar"
					},
					{
						"name": "Otwarte?",
						"type": "nchar"
					},
					{
						"name": "Data_ladowanie",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Godziny_normatywne",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Korekta_stawki_APO",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SH_Okres_obrachunkowy"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/J_LABS_BI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp_map_klienci')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane pomocnicze"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ERP_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "map_sh_Klienci"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/J_LABS_BI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/J_LABS_BI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dostęp do bazy SQL -> J_LABS_BI",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('J_LABS_BI_connectionString')]",
					"userName": "[parameters('J_LABS_BI_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('J_LABS_BI_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SQLIntegracjaTEST",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SQLIntegracjaTEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SharePoint_JLabs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SharePointOnlineList",
				"typeProperties": {
					"siteUrl": "https://jlabspl.sharepoint.com/sites/PowerBI",
					"tenantId": "b7fab65a-6bbd-48da-8a05-2cd2cfea2dd8",
					"servicePrincipalId": "[parameters('SharePoint_JLabs_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('SharePoint_JLabs_servicePrincipalKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MAIN-ETL-TRIGGER')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"Witold Toczek"
				],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MAIN-ETL",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2021-05-20T13:51:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9,
								11,
								13,
								15
							],
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MAIN-ETL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ss",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2021-05-18T15:45:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLIntegracjaTEST')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Dostęp do środowiska testowego",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}