TEST-JL1-DATA-FACTORY/PartialArmTemplates/ArmTemplate_6_30_2021_14_55_23.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nazwa fabryki danych",
			"defaultValue": "TEST-JL1-DATA-FACTORY"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SH_KluczePodzialoweKOZ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane w bazie BI SQL"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Okres",
						"type": "nchar"
					},
					{
						"name": "Rodzaj_klucza",
						"type": "nvarchar"
					},
					{
						"name": "Warszawa",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Krakow",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "APO",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Warszawa_value",
						"type": "nchar"
					},
					{
						"name": "Krakow_value",
						"type": "nchar"
					},
					{
						"name": "APO_value",
						"type": "nchar"
					},
					{
						"name": "Data_ladowania",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SH_KluczePodziałoweKOZ"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KluczePodzialoweKosztowKOZ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePoint_JLabs",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane z list Share Point"
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": "KluczePodziałoweKosztówOgólnych"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Okresy obrachunkowe oraz Finanse ERP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Wywołanie procedury przenoszącej dane z ERP/Optima i wypełniającej tabele faktur.",
				"activities": [
					{
						"name": "Ekstrakcja danych z ERP-Optima",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "OkresyObrachunkowe_copy",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Mapowanie klientow",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Faktury spprzedazy SH - Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Update SH_KosztyPracodwacyUOP",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Klucze podzialowe kosztow KOZ Logika",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COPY Specjalisci JLT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[Load_OPTIMA_ERP]"
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "OkresyObrachunkowe_copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CZYSZCZENIE BUFOROW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Miesiac",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "StatusOtwartyZamknięty",
											"type": "Boolean"
										},
										"sink": {
											"name": "Otwarte?",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "GodzinyNormatywne",
											"type": "String"
										},
										"sink": {
											"name": "Godziny_normatywne",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Korekta_stawki_APO",
											"type": "Double"
										},
										"sink": {
											"name": "Korekta_stawki_APO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Okresy_obrachunkowe",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SH_OkresyObrachunkowe",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Mapowanie klientow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CZYSZCZENIE BUFOROW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IDERP",
											"type": "String"
										},
										"sink": {
											"name": "ERP_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Klienci_SH",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "temp_map_klienci",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Faktury spprzedazy SH - Copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CZYSZCZENIE BUFOROW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Nr_FV",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Ilość",
											"type": "Double"
										},
										"sink": {
											"name": "Ilosc",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "JMValue",
											"type": "String"
										},
										"sink": {
											"name": "JM",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "CenaJednostkowa",
											"type": "Double"
										},
										"sink": {
											"name": "Cena",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "WartośćFvNetto",
											"type": "Double"
										},
										"sink": {
											"name": "Wartosc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "KlientId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Klient_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OkresId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Okres_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NazwaUsługiId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Usluga_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FakturySprzedazy",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SH_Faktury_Klientow",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CZYSZCZENIE BUFOROW",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[CLEAR_OPTIMA_ERP]"
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy SH_KosztyPracodwacyUOP",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CZYSZCZENIE BUFOROW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OkresId",
											"type": "Int32"
										},
										"sink": {
											"name": "Miesiac",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SpecjalistaId",
											"type": "Int32"
										},
										"sink": {
											"name": "ID_specjalisty",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "KosztPracodawcy",
											"type": "Double"
										},
										"sink": {
											"name": "KosztPracodwacy",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KwotaNetto",
											"type": "String"
										},
										"sink": {
											"name": "Kwota_netto",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KwotaBrutto",
											"type": "String"
										},
										"sink": {
											"name": "Kwota_brutto",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "KosztyPracodawcyUOP",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SH_KosztyPracodwacyUOP",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update SH_KosztyPracodwacyUOP",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "OkresyObrachunkowe_copy",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy SH_KosztyPracodwacyUOP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "  update dbo.SH_KosztyPracodwacyUOP \n  set SH_KosztyPracodwacyUOP.Miesiac = o.Miesiac,\n\tSH_KosztyPracodwacyUOP.ID_specjalisty = s.Title\n  from dbo.[SH_KosztyPracodwacyUOP] uop\n  left join [adf].[SH_SPECJALISTA] s\n  on uop.ID_specjalisty = s.ID\n  left join [dbo].[SH_Okres_obrachunkowy] o\n  on o.ID = uop.Miesiac\n  where s.Title is not null and o.Miesiac is not null\n\n  select 'ok' as result",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SH_KosztyPracodwacyUOP",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "COPY Klucze podzialowe KOZ",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CZYSZCZENIE BUFOROW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RodzajKluczaPodziałowegoValue",
											"type": "String"
										},
										"sink": {
											"name": "Rodzaj_klucza",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Warszawa",
											"type": "Double"
										},
										"sink": {
											"name": "Warszawa_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Kraków",
											"type": "Double"
										},
										"sink": {
											"name": "Krakow_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "APO",
											"type": "Double"
										},
										"sink": {
											"name": "APO_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OkresRozliczeniowyId",
											"type": "Int32"
										},
										"sink": {
											"name": "OkresRozliczeniowyID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "KluczePodzialoweKosztowKOZ",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SH_KluczePodzialoweKOZ",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Klucze podzialowe kosztow KOZ Logika",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "COPY Klucze podzialowe KOZ",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SH_KluczePodzialoweKOZ_STOP]"
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "COPY Specjalisci JLT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CZYSZCZENIE BUFOROW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SpecjalistaId",
											"type": "Int32"
										},
										"sink": {
											"name": "SpecjalistaID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OkresWażnościOdId",
											"type": "Int32"
										},
										"sink": {
											"name": "OkresWaznosciOdID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OkresWażnościDo",
											"type": "String"
										},
										"sink": {
											"name": "OkresWaznosciDo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Specjalisci_JLT",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SH_Specjalisci_JLT",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-28T12:42:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/KluczePodzialoweKosztowKOZ')]",
				"[concat(variables('factoryId'), '/datasets/SH_KluczePodzialoweKOZ')]",
				"[concat(variables('factoryId'), '/datasets/Specjalisci_JLT')]",
				"[concat(variables('factoryId'), '/datasets/SH_Specjalisci_JLT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SH_Specjalisci_JLT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane pomocnicze"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Okres_od",
						"type": "nchar"
					},
					{
						"name": "ID_specjalisty",
						"type": "nchar"
					},
					{
						"name": "Data_ladowania",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "SH_Specjalisci_JLT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Specjalisci_JLT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePoint_JLabs",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane z list Share Point"
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": "SpecjaliściJLT"
				}
			},
			"dependsOn": []
		}
	]
}