TEST-JL1-DATA-FACTORY/PartialArmTemplates/ArmTemplate_5_24_2021_15_14_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nazwa fabryki danych",
			"defaultValue": "TEST-JL1-DATA-FACTORY"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Okresy obrachunkowe oraz Finanse ERP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Wywołanie procedury przenoszącej dane z ERP/Optima i wypełniającej tabele faktur.",
				"activities": [
					{
						"name": "Ekstrakcja danych z ERP-Optima",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Faktury spprzedazy SH - Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[Load_OPTIMA_ERP]"
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "OkresyObrachunkowe_copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE SH_Okres_obrachunkowy"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Miesiac",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "StatusOtwartyZamknięty",
											"type": "Boolean"
										},
										"sink": {
											"name": "Otwarte?",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "GodzinyNormatywne",
											"type": "String"
										},
										"sink": {
											"name": "Godziny_normatywne",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Korekta_stawki_APO",
											"type": "Double"
										},
										"sink": {
											"name": "Korekta_stawki_APO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Okresy_obrachunkowe",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SH_OkresyObrachunkowe",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "mapowenie klientow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "OkresyObrachunkowe_copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE [adf].[map_sh_Klienci]"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IDERP",
											"type": "String"
										},
										"sink": {
											"name": "ERP_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Klienci_SH",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "temp_map_klienci",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Faktury spprzedazy SH - Copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "mapowenie klientow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE SH_FakturySprzedazy"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Nr_FV",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Ilość",
											"type": "Double"
										},
										"sink": {
											"name": "Ilosc",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "JMValue",
											"type": "String"
										},
										"sink": {
											"name": "JM",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "CenaJednostkowa",
											"type": "Double"
										},
										"sink": {
											"name": "Cena",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "WartośćFvNetto",
											"type": "Double"
										},
										"sink": {
											"name": "Wartosc",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "KlientId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Klient_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OkresId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Okres_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NazwaUsługiId",
											"type": "Int32"
										},
										"sink": {
											"name": "SH_Usluga_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FakturySprzedazy",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SH_Faktury_Klientow",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/temp_map_klienci')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pobieranie danych CRM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Login",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@variables('URL_CRM')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "method=login&input_type=JSON&response_type=JSON&rest_data={\n\t\"user_auth\": {\n\t\t\"user_name\": \"e-bi@j-labs.pl\",\n\t\t\"password\": \"ad4aaf1201de75ddd408eeb16dfe7cbe\"\n\t},\n\t\"application_name\": \"MS Flow\",\n\t\"name_value_list\": []\n}"
						}
					},
					{
						"name": "Set ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Login",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Login",
							"value": {
								"value": "@activity('Login').output.id",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Specjalisci",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@variables('URL_CRM')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "method=get_entry_list&input_type=JSON&response_type=JSON&rest_data={\n\t\"session\": \"@{variables('Login')}\",\n\"module_name\": \"ev_Specialists\",\n\"query\": \"ev_specialists.date_modified>'@{getPastTime(30, 'Day', 'yyyy-MM-ddTHH:mm:ss')}' and ev_specialists.specialist_status<>'candidate' and ev_specialists.specialist_status<>'candidate_in_process'\",\n\t\"order_by\": \"date_modified\",\n\t\"offset\": 0,\n\t\"select_fields\": [\"id\",\"first_name\",\"last_name\",\"approximate_address_city\",\"approximate_address_state\",\"position,candidate_experience\",\"specialist_status\",\"recruitment_status\",\"reference_rate,name\",\"erp_id\"],\n\t\"link_name_to_fields_array\": [],\n\t\"max_results\": \"600\",\n\t\"deleted\": 0\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Specjalisci",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Specjalisci",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Specjalisci",
							"value": {
								"value": "@activity('Specjalisci').output.entry_list",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Specjalisci to SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set Specjalisci",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[adf].[CRM_Dim_Pracownicy_Refresh]",
							"storedProcedureParameters": {
								"specjalisci": {
									"value": {
										"value": "@string(variables('Specjalisci'))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "J_LABS_BI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Specjalisci",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Specjalisci')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Specjalisci to SQL_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[adf].[CRM_Dim_Pracownicy_Refresh]",
										"storedProcedureParameters": {
											"specjalisci": {
												"value": {
													"value": "@string(array(item()))",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "J_LABS_BI",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"variables": {
					"Login": {
						"type": "String"
					},
					"URL_CRM": {
						"type": "String",
						"defaultValue": "https://jlabs.evolpe.it/service/v4_1/rest.php"
					},
					"Specjalisci": {
						"type": "Array"
					},
					"Specjalista": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp_map_klienci')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "J_LABS_BI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dane pomocnicze"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ERP_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "map_sh_Klienci"
				}
			},
			"dependsOn": []
		}
	]
}